.area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: var(--area-door-width);
  height: var(--area-door-height);
  margin-left: 5px;
}

.structure {
  display: flex;
  width: 90%;
  flex: 1;
  border: solid 5px brown;
  border-bottom: 0;
}

.door {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  flex: 1;
  background-color: chocolate;
}

.number {
  font-size: 3rem;
}

.handle {
  position: absolute;
  /* left: 30px; */
  align-self: flex-start;
  top: 45%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
}

.floor {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}